# Django settings
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=False
SITE_URL=https://example.com

# SQLite settings
SQLITE_DATA_DIR=data

# Celery settings
CELERY_BROKER_URL=redis://worker:6379/0

# API keys
OPENAI_API_KEY=your-openai-api-key-here
OPENAI_TTS_MODEL=tts-1-hd
OPENAI_TTS_VOICE=alloy
OPENAI_TTS_RESPONSE_FORMAT=wav
# Firecrawl settings
FIRECRAWL_API_KEY=
USE_FIRECRAWL_BY_DEFAULT=False

# RSS feed settings
PODCAST_IMAGE_URL=https://example.com/podcast-image.jpg
