[flake8]
max-line-length = 120
extend-ignore = E203,W503
exclude = .git,__pycache__,docs/conf.py,old,build,dist,.venv,venv,*/migrations/*
max-complexity = 20
per-file-ignores =
    text_to_audio/tasks.py:C901,E501
    text_to_audio/services/content_analysis.py:E501
    text_to_audio/services/content_selection.py:E501,W291
    tests/test_auto_voice.py:E501
    tests/text_to_audio/test_tasks.py:E501,F841
    tests/text_to_audio/test_views_followed_feed.py:E501,F841
    tests/test_gpt_content_selection.py:E501
    text_to_audio/forms.py:E501
    text_to_audio/services/genre_classification.py:E501
    text_to_audio/services/user_preferences.py:E501,C901
    text_to_audio/services/voice_configuration.py:C901
    text_to_audio/services/voice_parameter_generation.py:C901
    text_to_audio/views.py:F401,C901,D102
    text_to_audio/migrations/*:E501
    */migrations/*:E501,F401,E203,E266,E731,W503,D100,D101,D102,D103,D104,D105,D106,D107
    tests/*:D100,D101,D102
