rss_tts/__pycache__/*
tests/__pycache__/*
*.cpython-*
.claude/
*.pyc
.env
.claude/
media/
db.sqlite3
testoutput.log
.DS_Store
articles/**/*.mp3
dump.rdb
tts demo/
# Test scripts
test_byte_range.sh
data/
