<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">RSS-TTS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'feed-list' %}">My Feeds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cost-analytics' %}"><i class="bi bi-graph-up"></i> Costs</a>
        </li>
        {% if user.can_manage_users %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="adminDropdown">
            <li><a class="dropdown-item" href="{% url 'user-management' %}">User Management</a></li>
            <li><a class="dropdown-item" href="{% url 'global-config' %}">Global Configuration</a></li>
          </ul>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="voiceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Voice Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="voiceDropdown">
            <li><a class="dropdown-item" href="{% url 'voice_preferences' %}">Default Voice</a></li>
            <li><a class="dropdown-item" href="{% url 'voice_preset_list' %}">Voice Presets</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'voice_preset_create' %}">Create New Preset</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="nav-link btn btn-link" type="submit">Logout</button>
          </form>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
