<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">RSS-TTS</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'article-list' %}">My Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'article-submit' %}">Submit</a>
        </li>
        <li class="nav-item">
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="nav-link btn btn-link" type="submit">Logout</button>
          </form>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
