{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Sign Up" %} - RSS-TTS{% endblock %}
{% block header_title %}{% trans "Sign Up" %}{% endblock %}
{% block content %}
<form method="post">
  {% csrf_token %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  {% endif %}
  {% include "includes/_form_field.html" with field=form.username %}
  {% include "includes/_form_field.html" with field=form.password1 %}
  {% include "includes/_form_field.html" with field=form.password2 %}
  <button type="submit" class="btn btn-primary">{% trans "Create Account" %}</button>
</form>
{% endblock %}
